@import './title';
@import './blog';
@import './post';
@import '~bootstrap/scss/bootstrap';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/milky-way-3840x2160.jpg) center no-repeat;
}
